---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	
	<section class="page-content">
		<div class="container">
			
			<div class="video_showcase">
				<p>
					<iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLeTlEEB2MZX4DD7AekVNw2bwBUz4uNBad" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>

			</div>
		<div class="video_description">
			<h3>The #XeroBytes Podcast</h3>
			<hr>
				<p class="video_text">
					Welcome to the official page of the XeroBytes Podcast. Where me, and my co-host @Jesse discuss the latest Linux news, and sometimes we invite special guests over to discuss their latest creations. We do our best to keep it varied, and intersting. We also discuss the latest XeroLinux updates of course. To access past episodes, just click the hamburger menu on the top right of the video.<br /><br />

					Visit our Youtube Channel for more content, like tutorials, showcases, occasional game streams and more, also feel free to join us on our Discord server for faster support. All links to those and more can be found at the bottom of this page. Hope to see y'all there ;)
				</p>
		</div>

		<div class="button_group">
			<div class="button">
				<a href="https://xerolinux.xyz" class="button_text" target="_blank">
					Download XeroLinux →
				</a>
			</div>
			<div class="button">
				<a href="https://anchor.fm/xerobytes" class="button_text" target="_blank">
					Audio version (Multi-Service) →
				</a>
			</div>
			<div class="button">
				<a href="https://forum.xerolinux.xyz/" class="button_text" target="_blank">
					Visit our Forums →
				</a>
			</div>
		</div>

		
		</div>
	</section>
</Layout>
