---
import Card from './Card.astro'

const featuresData = [
  {title: 'Download XeroLinux', body: 'A Hobbyist Arch-Based Distro, built using in-house scripts created by your Friendly Human Keyaedisa'},
  {title: 'Check our FAQ', body: 'Enjoy using it as much as I have creating it ;)'},
  {title: 'Previous episodes', body: 'Click here to watch all the previous episodes'}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

</style>